[Unit]
Description=Home Media Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target tailscaled.service
Wants=network-online.target tailscaled.service
RequiresMountsFor=/mnt/old-media

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/barni/homelab/docker/media-stack

ExecStartPre=/bin/bash -c 'until ip -4 addr | grep -q "192.168.0.167/"; do sleep 2; done'
ExecStartPre=/bin/bash -c 'until ip -4 addr | grep -q "100.64.72.18/"; do sleep 2; done'
ExecStartPre=/bin/bash -c 'ls /mnt/old-media >/dev/null'

ExecStart=/usr/bin/docker compose --profile download up -d

TimeoutStartSec=180
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
